{
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  },
  "plugins": ["transform-object-rest-spread", "syntax-async-functions", "transform-regenerator"]
}